
header{
	color: white;
	font-weight: bolder;
}

footer{
	text-align: center;
	padding: 5px;
}

body{
	background-image: url("images/background.jpg");

}
section{
	text-align: center;
	padding: 5px;
}

video {
	display:inline-block;
}

@keyframes example {
    from {box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0);}
    to {box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);}
}


.mySlides {
	display:none;
	

}
.mySlides:hover {
	 opacity: 0.5;
}
.play_btn{
	max-width: 30%;
}

#hover {
	position: absolute;
	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	z-index: -1;
  	opacity: 1;
  	background-color: #404040;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.w3-display-container{
	 width: 25%;
}



#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("images/load.gif") no-repeat center center rgba(0,0,0,0.25)
}


.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 5px 7px; /* Some padding */
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.btn:hover {
    background-color: RoyalBlue;
    
}

#backButton {
	display: none;
}
/*
 #progress-bar {
 	display: none;
 }
 */